@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

html * {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-image: url("../img/fundo.jpeg");
    background-size: contain;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    line-height: 27px;
    color: white;
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 13fr 5fr 1fr;
}

header {
    padding: 20px 0px;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    border-top: 0px solid white;
    grid-column: 2/4;
}

    header h2 {
        font-family: 'Kanit', sans-serif;
        color: #999;
        font-weight: 700;
        margin: 20px 15px;
    }


    header img {
        width: 15%;
        background-color: inherit;
        display: inline-block;
        margin: auto;
    }

main {
    margin-top: 40px;
    grid-column: 2/3;
}

    p {
        margin: 10px 10px 10px 30px;
        font-size: larger;
        grid-column: 2/3;
    }

asside {
    margin-top: 40px;
    justify-self: center;
}

    a {
        color: #F7D448; 
        font-style: normal;
        text-decoration: none;
        grid-column: 2/4;
    }

        a:hover {
            text-decoration:underline;
        }


    img {
        width: 220px;
        background-color: #999;
        padding: 2px;
        margin: 10px;
        align-content: center;
    }

    .fonte {
        text-align: center;
        margin: 0px;
    }
